<!DOCTYPE html>
<html>
<head>
    <title>Angular DOB example</title>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>-->
    <!-- Development -->
    <script src="../src/module.js"></script>
    <script src="../src/common.js"></script>
    <script src="../src/format.js"></script>
    <script src="../src/validate.js"></script>
    <!-- <script src="../lib/angular-dob.js"></script> -->


    <script>
        var app = angular.module('app', ['angularDob']);
        app.controller('MainController', function ($scope) {

        });
    </script>

    <style>
        .ng-invalid {
            border-color: #f00 !important;
        }
    </style>

</head>
<body ng-app="app">
<div class="container" ng-controller="MainController">
    <div class="row">
        <div class="span4 offset4">
            <div class="row">

                <div class="span4">
                    <h3>Shut up and take my birthday!</h3>
                    <p>Max Date: 1986-10-08. Min Date: 1900-01-01</p>
                </div>
                <form name="myForm">
                    <div class="span3">
                        <label>Date of birth:</label>
                        <input type="text"
                                class="input-block-level"
                                ng-model="number"
                                dob-validate-max-date="1986-10-08"
                                dob-validate-min-date="1900-01-01"
                                dob-format dob-validate
                                placeholder="mm / dd / yyyy"/>
                        <!-- Example with a specified date format. -->
                        <!--<input type="text"-->
                               <!--class="input-block-level"-->
                               <!--ng-model="number"-->
                               <!--dob-format-mode="dd/mm/yyyy"-->
                               <!--dob-validate-max-date="1986-10-08"-->
                               <!--dob-validate-min-date="1900-01-01"-->
                               <!--dob-format dob-validate-->
                               <!--placeholder="dd / mm / yyyy"/>-->
                    </div>
                    </div>
                </form>
                <br />
                <div class="span3"><h5>DOB -> {{ number | json }}</h5></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
